.button1 {
  min-width: 75px;
  display: block;
  font-size: 15px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #0b4f81;
  background-color: white;
  color: #0b4f81;
  transition: all 0.2s linear;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 5px;
  &:hover {
    background-color: #0b4f81;
    color: white;
  }
}
